<div class="row">
    <div class="col-md-12">
        <h3>Resumen mensual </h3><hr />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form class="navbar-form navbar-left">
            <div class="form-group">
                <select class="form-control" id="month"
                        ng-options="month.id as month.name for month in months"
                        ng-model="month">
                </select>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <p>Ingreso propio</p>
                        <p>Ingreso (otros)</p>
                        <p>Gasto efectivo</p>
                        <p>Gasto TC</p>
                        <p>Impuestos</p>
                        <p>Gasto total</p>
                        <p>Ahorro</p>
                        <p>Invertido</p>
                        <p>Dinero restante</p>
                        <p>Gasto estimado</p>
                        <p>Dolar</p>
                    </div>
                    <div class="col-md-6">
                        <p>{{movements.income.own | currency}}</p>
                        <p>{{movements.income.other | currency}}</p>
                        <p>{{movements.expenses.cash | currency}}</p>
                        <p>{{movements.expenses.tc | currency}}</p>
                        <p>{{movements.expenses.taxes | currency}}</p>
                        <p>{{movements.expenses.total | currency}}</p>
                        <p>{{movements.savings | currency}}</p>
                        <p>{{movements.invested | currency}}</p>
                        <p>{{movements.available | currency}}</p>
                        <p>{{movements.expenses.estimated | currency}}</p>
                        <p>{{movements.usd_price | currency}}</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <highchart id="categoryExpensesChart" config="categoryChart"></highchart>
        <highchart id="dailyExpensesChart" config="dailyChart"></highchart>
    </div>
</div>
